test.py
__pycache__/bot.cpython-311.pyc
__pycache__/Games.cpython-311.pyc
__pycache__/Hangman.cpython-311.pyc
__pycache__/responses.cpython-311.pyc
__pycache__/TicTac.cpython-311.pyc
poet.keras
sl-poem-data.txt
__pycache__/Poet.cpython-311.pyc
__pycache__/Dnd.cpython-311.pyc
__pycache__/Player.cpython-311.pyc
__pycache__/Character.cpython-311.pyc
characters.txt
